
h1 {
    font-weight: bold;
    font-family: Arial;
}
.shelf {
    /* border: solid 8px brown; */
    background-color: rgb(232, 232, 232);
    height: 50%;
    
}
.book-container {
    display: grid;
    grid-template-columns: repeat(3,15rem);
    grid-template-rows: 2fr;
    padding: 18px;
    grid-gap: 10px;
}
.book {
    height: 80%;
    width: 120px;
    background-color: #ffffff;
    display: grid;
    justify-content: start;
    grid-template-rows: 0.5fr 0.5fr;
    padding: 20px;
    border: 2px #000000 solid;
    box-shadow: 5px 5px 1rem rgba(30, 58, 138, 0.2)
}
.edit {
    font-size: 1rem;
    margin: 0 auto;
    width: 50%;
    padding: 0.5rem 0.5rem;
    border: none;
    font-weight: bold;
    font-family: Arial;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}
ul {
    padding-top: 20px;
    padding-left: 0;
    list-style-type: none;
    line-height: 150%;
    font-size: 1rem;
    justify-items: left;

}
.form-container {display: none;}
.form-container.open {display: block;}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
    z-index: 0;
}
form {
    
    /* text-align: center; */
    background-color: #FFF;
    border: 2px solid black;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
form h1 {
    margin-left: 160px;

}
form input {
    font-weight: 500;
    font-family: Arial;
}
.field-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: start;
    font-family: Arial;
    font-weight: 900;
   
}

.field, .close {
    font-family: Arial;
}
.field-container button {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    margin-top: 10px;
    width: 50%;
    border: 4px solid black;
    font-weight: bold;
    font-family: Arial;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 1s ease-in;
}
.field p {
  color: red;
  display: none;
}
/* input:required:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
} */
.switch {
   margin-top: 5px;
    position: relative;
    display: inline-block;
    width: 60px;
    height:30px;
    
}
 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 40px;

}

.slider:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    left: 2px;
    top: 4px;
    bottom: 4px;
    border-radius: 40px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
 
  input:checked + .slider {
    background-color: #2196F3;
    
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
 
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

.newbook{ 
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border: 4px solid black;
    font-weight: bold;
    font-family: Arial;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
   
}

.close {
    color: #4e4e4e;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.edit-form-container {display: none;}
.edit-form-container.open {display: block;}
.submit-edit{
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border: 4px solid black;
    font-weight: bold;
    font-family: Arial;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
   
}